.border-radius-5{
    border-radius: 5px;
    border : none
}
.avatar-sm {
    height: 3rem;
    width: 3rem;
  }
  .avatar-title {
    align-items: center;
    background-color: #0e243f;
    color: #ffffff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
  }
  .card-body h4{
    position: relative;
    margin-left: 80px;
    font-family: "Barlow";
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
  }
  svg {
    margin: 0 auto;
    text-align: start;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 40px;
  }
  
  polyline {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s ease-in forwards;
    animation-iteration-count: 10;
    animation-direction: alternate;
  }
  
  @keyframes dash{
    to {
      stroke-dashoffset: 0;
    }
  }
  
  
  p {
    font-size: 2rem;
    text-align:center;
    color: #efefef;
  }
  .name {
    font-size: .8rem;
    font-weight: light;
  }
  .circle-diagram{
    --degree: calc(360deg / 100 * var(--percent));
    --hue: calc(360 / 100 * var(--percent));
    --accent-color: hsl(var(--hue), 100%, 50%);
    font-size: 1rem;
    width: 100%;
    max-width: 15rem;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;
    filter: drop-shadow(0 0.5rem .5rem rgb(0 0 0 / .5));
    display: grid;
    place-items: center;
    font-weight: 700;
    font-family: system-ui, sans-serif;
    color:#0e243f;
    text-shadow: 0 0 5px #8ad6e0;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 80px;
  }
  .circle-diagram::before, .circle-diagram::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }
  .circle-diagram::before{
    inset: 1em;
    background-color: #0e243f;
    background-image: 
      radial-gradient(
        circle at calc(50% - 0.25rem) calc(50% + 0.25rem),
        rgb(0 0 0 / .25) 25%,
        transparent calc(25% + 0.5rem)
      ),
      conic-gradient(
        rgb(255 255 255 / .25) 0deg,
        rgb(0 0 0 / .25) var(--degree)
      ),
      conic-gradient(
        at calc(50% - 0.4rem) calc(50% + 0.4rem),
        transparent var(--degree),
        rgb(0 0 0 / .25) calc(var(--degree) + 5deg)
      );
  }
  .circle-diagram::after{
    inset: 0;
    background-color: #8ad6e0;
    background-image: linear-gradient(transparent, #8ad6e0);
    --mask1: radial-gradient(#8ad6e0 25%, transparent calc(25% + 1px));
    --mask2: conic-gradient(transparent var(--degree), #8ad6e0 calc(var(--degree) + .5deg));
    -webkit-mask-image: var(--mask1), var(--mask2);
    mask-image: var(--mask1), var(--mask2);
  }
  .parameter {
		text-align: right;
		padding: 10px 0 14px 0;
  }
  .parameter span {
			position: relative;
			font-size: .85rem;
			color: #606060;
			line-height: 13px;
			padding: 0 10px 0 25px;
		}
		.parameter span:before {
			position: absolute;
			left: 6px;
			top: 6px;
			display: block;
			content: '';
			width: 11px;
			height: 4px;
			border-radius: 3px;
		}

		.red:before {
			background: #0e243f;
		}

		.blue:before {
			background: #8ad6e0;
		}
	